<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include('../fragmente/head'); %> 
        <link rel="stylesheet" type="text/css" href="/media/css/grid_galerie_statica.css">
    
    </head>
   
    <body>
        <div class="grid-container">

            <header id="header">
                <%- include('../fragmente/header'); %>
            </header>

            <nav id="mainMenu">
                <%- include('../fragmente/menu'); %>
            </nav> 
            
            <article class="item1">
                <h2>Galerie</h2>
                <div class="grid-galerie-statica">

                    <%- include('../fragmente/galerie_statica'); %>

                </div>
            </article>

            <footer>
                <%- include('../fragmente/footer'); %>
            </footer>
        </div>
    </body>
</html>
