<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include("../fragmente/head") %>   
        <link rel="stylesheet" href="/media/css/produse.css" type="text/css" />  
        <script type="text/javascript" src=/media/js/produse.js></script>
    </head>
    <body>
        <div class="grid-container">
            <header id="header">
                <%- include("../fragmente/header") %>
            </header>
            <nav id="mainMenu">
                <%- include('../fragmente/menu'); %>
            </nav> 

            <main> 
                <div id="grid_inputuri">
                    <div id="div_inp-denumire">
                        <label for="inp-denumire"><b>Denumire produs:</b> </label><input type="text" id="inp-denumire" value=""><br/>
                    </div>
                    <div  id="div_inp-pret">
                        <label for="inp-pret"><b>Pret:</b> </label><span class="range-min-val"> </span><input type="range" id="inp-pret" value="0" min="0"  max="1500"><span class="range-max-val"></span><span id="rez-range"></span><br/>
                    </div>

                    <div id="select_categ">
                        <label><b>Categorie:</b> </label><br/>
                        <input type="radio" id="rd-orice" onchange="getit();" name="rb-categorie" value="orice" <%= !locals.preselectedCateg ? "checked" : "" %>>
                        <label for="rd-orice">Orice</label><br>
                        <input type="radio" id="rd-constructii" onchange="getit();" name="rb-categorie" value="constructii"  <%= locals.preselectedCateg=="constructii" ? "checked" : "" %>>
                        <label for="rd-constructii">Constructii</label><br>
                        <input type="radio" id="rd-amenajari" onchange="getit();" name="rb-categorie" value="amenajari" <%= locals.preselectedCateg=="amenajari" ? "checked" : "" %>>
                        <label for="rd-amenajari">Amenajari</label><br>
                    </div>

                    <div class="check-box" id="check-box-orice">
                        <label><b>Tip:</b> </label><br/>
                        <input type="checkbox" class="ck-orice" id="ck-orice-materiale-constructii" name="tip" value="materiale constructii">
                        <label for="ck-orice-materiale-constructii">Materiale constructii</label><br>
                        <input type="checkbox" class="ck-orice" id="ck-orice-izolatii" name="tip" value="izolatii">
                        <label for="ck-orice-izolatii">Izolatii</label><br>
                        <input type="checkbox" class="ck-orice" id="ck-orice-sanitare" name="tip" value="sanitare">
                        <label for="ck-orice-sanitare">Sanitare</label><br>
                        <input type="checkbox" class="ck-orice" id="ck-orice-amenajari-interioare" name="tip" value="amenajari interioare">
                        <label for="ck-orice-amenajari-interioare">Amenajari interioare</label><br>
                    </div>

                    <div class="check-box" id="check-box-constructii">
                        <label><b>Tip:</b> </label><br/>
                        <input type="checkbox" id="ck-constructii-materiale-constructii" name="tip" value="materiale constructii">
                        <label for="ck-constructii-materiale-constructii">Materiale constructii</label><br>
                        <input type="checkbox" id="ck-constructii-izolatii" name="tip" value="izolatii">
                        <label for="ck-constructii-izolatii">Izolatii</label><br>
                        <br/>
                        <br/>
                    </div>

                    <div class="check-box" id="check-box-amenajari">
                        <label><b>Tip:</b> </label><br/>
                        <input type="checkbox" id="ck-amenajari-sanitare" name="tip" value="sanitare">
                        <label for="ck-amenajari-sanitare">Sanitare</label><br>
                        <input type="checkbox" id="ck-amenajari-interioare" name="tip" value="amenajari interioare">
                        <label for="ck-amenajari-interioare">Amenajari interioare</label><br>
                        <br/>
                        <br/>
                    </div>
                    
                    <div id="div_textarea">
                        <label for="textarea"><b>Materiale componente produs:</b></label>
                        <textarea id="textarea" name="specificatii-produs" rows="2" cols="30"></textarea>
                    </div>

                    <div id="div_sl-culoare">
                        <label for="sl-culoare"><b>Selectare culoare:</b> </label>
                        <select id="sl-culoare" multiple>
                            <% for( let culoare of locals.culori) { %>
                                <option value="<%- culoare %>"><%- culoare %></option>
                            <% } %>
                        </select>
                    </div>

                    <div id="div_sl-livrare">
                        <label for="sl-livrare"><b>Selectare optiune livrare:</b> </label>
                        <select id="sl-livrare">
                            <option value="toate" selected="selected">toate</option>
                            <option value="cu livrare">cu livrare</option>
                            <option value="fara livrare">fara livrare</option>
                        </select>
                    </div>
                </div>
                <p>
                    <button id="filtrare">Filtreaza</button>
                    <button id="sortCrescPret">Sorteaza crescator dupa pret</button>
                    <button id="sortDescrescPret">Sorteaza descrescator dupa pret</button>
                    <button id="resetare">Reseteaza</button>
                </p>
                <button id="p-suma">Suma preturi produse afisate</button>
                <section id="produse">
                    <h2>Produse</h2>
                    <div class="grid-produse">
                        <% for( let prod of locals.produse) { %>
                            <article  id="artc-<%-prod.id%>" class="produs <%- prod.categorie%>">
                                <h3 class="nume">Denumire: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                            
                                    <div class="info-prod">
                                        <div class="pret"><p class="nume_caracteristica">Preț:</p> <span class="val-pret"><%- prod.pret%></span> lei</div>
                                        <div class="tip_produs"><p class="nume_caracteristica">Tip produs:</p> <span class="val-tip-produs"><%- prod.tip_produs%></span></div>
                                        <div class="materiale_componente"><p class="nume_caracteristica">Materiale componente:</p> <span class="val-materiale-componente"><%- prod.materiale_componente%></span></div>
                                        <div class="data_adaugare"><p class="nume_caracteristica">Data adăugării:</p> <time class="val-data-adaugare">
                                            <% prod.data_adaugare
                                            let zi_saptamana= prod.data_adaugare.getDay();
                                            let zi= prod.data_adaugare.getDate();
                                            let luna= prod.data_adaugare.getMonth();
                                            let an= prod.data_adaugare.getFullYear(); 
                                            let vector_zile=["Duminica","Luni", "Marti", "Miercuri", "Joi", "Vineri", "Sambata"];
                                            let vector_luni=["Ianuari", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"];
                                            %>  <%- zi%> <%- vector_luni[luna]%> <%- an%> [<%- vector_zile[zi_saptamana]%>]</time>
                                        </div>
                                            <div class="culoare"><p class="nume_caracteristica">Culoare:</p> <span class="val-culoare"><%-prod.culoare%></span></div>
                                            <div class="cu_livrare"><p class="nume_caracteristica">Livrare:</p> <span class="val-cu-livrare"><% var livrare=""; if(prod.cu_livrare){livrare+="cu livrare";} else livrare+="fara livrare" %> <%-livrare%></span></div>
                                    </div>
                                    <div class="descriere-prod"> 
                                        <div class="categorie"><p class="nume_caracteristica" style="font-size:1rem;">Categorie:</p> <span class="val-categorie"><%- prod.categorie%></span></div>
                                        <br>
                                        <div><p class="nume_caracteristica">Descriere:</p> <span class="descriere"><%- prod.descriere %> </span></div>
                                    </div>
                                
                                <figure id="imagine_produs">
                                    <img src="/media/imagini_produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" />
                                </figure>
                            </article>
                        <% }%>
                    </div>
                </section>
            </main>
        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
    </div>
    </body>
</html>