<%var nr_img = 0; %>
<%var luna = new Date().getMonth(); %>
<% for (let imag of locals.galerie){  %>
    <% if ((luna == 11 || luna == 0 || luna == 1) && imag.anotimp == "iarna"){ %>    
<% nr_img = nr_img +1;%>
<% console.log("iarna")%>

<div class= <%= "imagine" + nr_img%> >
    <figure >
        <picture>
            <img src=<%-imag.mare%> alt="text"/>
        </picture>
        <figcaption><%-imag.descriere%></figcaption>
    </figure>
</div>
<% }else if(!(luna == 11 || luna == 0 || luna == 1) && imag.anotimp == "vara"){%>
    <% nr_img = nr_img +1;%>
    <% console.log(imag)%>
    <div class= <%= "imagine" + nr_img%> >
        <figure >
            <picture>
                <img src=<%-imag.mare%> alt="text"/>
            </picture>
            <figcaption><%-imag.descriere%></figcaption>
        </figure>
    </div>
<%}} %>
  


