<%var nr_img = 0; %>
<% 
function getImageSrc(imag, size){
    if(size <= 450)
    {
        return imag.mic;
    }
    if(size <= 920)
    {
        return imag.mediu;
    }
    return imag.mare;
}
%>
<% for (let imag of locals.galerie){ %> 
<% nr_img = nr_img +1;%>

<div id= <%= "imagine" + nr_img%> class="imagine" >
    <figure >
        <picture>
            <source srcset=<%-imag.mic%> media="(max-width:450px)">
            <source srcset=<%-imag.medie%> media="(max-width:920px)">
            <img src=<%-imag.mare%> alt="<%-imag.descriere%>" copyright="<%-imag.copyright || ""%>"/>
        </picture>
        <figcaption><%-imag.descriere%></figcaption>
    </figure>
</div>
<%} %>
  


